<div class="flex flex-1 flex-col items-center m-5">
    <h3 class="mt-2 text-xl uppercase">Receipt</h3>
    <div class="flex flex-row justify-between w-full my-5">
        <p> Date: </p>
        <p> 10 SEP 1997 </p>
    </div>
    <div class="h-0.5 w-full bg-gray-300"> </div>
    <div class="flex flex-col justify-between w-full mt-5 px-5">
        <div class="flex flex-row w-full justify-between my-1">
            <p> Item1 </p>
            <p> 100.0 </p>
        </div>
        <div class="flex flex-row w-full justify-between my-1">
            <p> Item2 </p>
            <p> 100.0 </p>
        </div>
        <div class="flex flex-row w-full justify-between my-1">
            <p> Item3 </p>
            <p> 100.0 </p>
        </div>
        <div class="flex flex-row w-full justify-between my-1">
            <p> Item4 </p>
            <p> 100.0 </p>
        </div>
    </div>
    <div class="h-0.5 w-full bg-gray-300 my-5"> </div>
    <div class="h-0.5 w-full bg-gray-300 mb-5"> </div>
    
    <div class="flex flex-row justify-between w-full px-5">
        <p> Tax: </p>
        <p> 10.0 </p>
    </div>
    <div class="flex flex-row justify-between w-full px-5">
        <p> Total: </p>
        <p> 510.0 </p>
    </div>
    
    <div class="flex flex-row justify-between w-full px-5 mt-5">
        <p> Cash: </p>
        <p> 1000.0 </p>
    </div>
    <div class="flex flex-row justify-between w-full px-5 mb-10">
        <p> Change: </p>
        <p> 500.0 </p>
    </div>

    <h3 class="text-xs">Thank you for staying with us.</h3>

</div>
