<div class="h-screen bg-gray-800">
    <div class="flex flex-col">
        <div class="flex justify-center bg-gray-600 mb-10">
            <h1 class="font-bold text-white text-2xl italic my-5"> SP </h1>
        </div>
        <div class="flex flex-col">
            <app-navbutton [btnIcon]="faAddIcon" btnText="Add"></app-navbutton>
            <app-navbutton [btnIcon]="faPersonIcon" btnText="Profile"></app-navbutton>
            <app-navbutton [btnIcon]="faInfoIcon" btnText="About"></app-navbutton>
        </div>
    </div>
</div>