<div class="flex flex-col">
    <div class="sticky top-0 bg-gray-100"> 
        <app-searchbar></app-searchbar>
    </div>
    <div class="px-5">
        <table mat-table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="pcode">
            <th mat-header-cell *matHeaderCellDef> Product Code </th>
            <td mat-cell *matCellDef="let element"> {{element.pcode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="ptitle">
                <th mat-header-cell *matHeaderCellDef> Product Title </th>
                <td mat-cell *matCellDef="let element"> {{element.ptitle}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="pcategory">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.pcategory}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef> Units </th>
            <td mat-cell *matCellDef="let element"> {{element.units}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <button class="bg-gray-700 px-2 py-1 rounded-sm shadow-md shadow-gray-300"> <span class="text-sm text-white">Details</span></button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>